.section-card-container {
  background-color: #373737;
  border-radius: 12px;
  display: flex;
  text-align: start;
  margin: 1rem;
  max-width: 95%;
  padding: 1rem;
  align-items: center;
}

.section-card-icon {
  margin-right: 3%;
}

.section-card-right {
  margin-left: auto;
}

.section-card-title {
  font-size: 1rem;
}

.section-card-subtitle {
  color: #d6d6d6;
  font-size: 0.75rem;
}
